Source: wp360-ups-ctrl
Section: misc
Priority: optional
Maintainer: Overdigit <info@overdigit.com>
Build-Depends: debhelper-compat (= 13), libgpiod-dev, gcc
Standards-Version: 4.5.1
#Homepage: <insert the upstream URL, if relevant>
Rules-Requires-Root: no
#Vcs-Git: https://salsa.debian.org/debian/wp360-packages.git
#Vcs-Browser: https://salsa.debian.org/debian/wp360-packages

Package: wp360-ups-ctrl
Architecture: all
Maintainer: Overdigit <info@overdigit.com>
Depends: ${misc:Depends}, initramfs-tools, systemd
Description: Package containing a script and a service to turn off the system when signaled on pin 22.
